.navbar_bg
{
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: #ffffff!important;
}
.navbar
{
    padding: 0 0;
}
.navbar-brand
{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: -80px;
    padding-left: 50px;
}
.nav-item  
{
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: -10px;
    padding-left: 10px; 
    list-style: none;
}
.nav-item-dropdown
{
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: -15px;
    padding-left: 5px; 
    list-style: none;
}
.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item-dropdown .nav-link-dropdown
{
    color: #003366;
}
.navbar-nav .nav-item .nav-link:hover
{
    background: #FAF754;
    color: #003366;
    border-radius: 20%;
}
.navbar-nav .nav-item-dropdown .nav-link-dropdown:hover
{
    background: #FAF754;
    color: #003366;
    border-radius: 10%;
}
.navbar-light.navbar-toggler
{
    border: none;
    color: #F5F5F5;
    border: 2px solid #003366;
    border-radius: 0;
    outline: none;
}

@media(max-width: 998px)
{
    html
    {
        font-size: 55%;
    }
}
@media(max-width: 768px)
{
    .navbar_bg
    {
        padding: 20px 20px;
        height: 75px;
        width: 100%;
    }
    .navbar-brand
    {
        line-height: 1;
	    float:left;
        padding: 0 10px;
    }
    .nav-item 
    {
        line-height: 1;
	    float:none; 
        list-style: none;
    }
}    